*{
    color: #fff;
}
.navbar{
    background-color: #008374;
    z-index: 10;
    box-shadow: .5px .5px 30px rgba(0,0,0,0.3);
}
.nav-link{
    color: #ffffff8e;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 4px;

}
.nav-link:hover{
    color: #fff;
}
.hero{
    background-color: #008374;
    height: 100vh;
}
.hero-img img{
    width: 600px;
}
.bbtt{
    background-color: #0d9787;
    width: 190px;
    height: 60px;
    letter-spacing: 2px;
    color: white;
    border: 2px solid #008374;
}
.bbtt:hover{
    border: 2px solid #ffffff8e;
    background-color: #0d9787;
}
.btn-2{
    background-color: #008374;
    border: none;
    margin: 0 20px;
}
.bi-play-circle{
    position: relative;
    top: 5px;
    color: #ffffff8e;
}
.btn-2:hover .bi-play-circle{
    color: #fff;
}
.card-1{
    background-color: #0d9787;
    height: 250px;
    margin-top:32px;
    transform: translateY(-40px);
}
.card-1:hover{
    background-color: #0aac99;
    cursor: pointer;
}
.card-body-1:hover i{
    color: #fff;
}
.hero-2{
    background-color: #008374;
}
.card-body-1 i{
    font-size: 50px;
    color: #ffffff8e;
}
.out{
    border-bottom: 4px solid #008374;
}
.card-2{
    border: none;
}
.card-body-2 p{
    color: grey;
    font-size: 17px;
}
.bi-check-circle-fill{
    color: #008374;
}
.images{
    overflow: hidden;
}
.images img{
    transition: scale .5s;
}
.images img:hover{
    scale: 1.2;
    cursor: pointer;
}
.srs{
    width: 70px;
    height: 40px;
    margin-left: 87px;
}
.numbers{
    color: #008374;
    font-weight: bold;
    font-size: 40px;
}
.black{
    margin-left: 78px;
    color: black;
}
.cn-img{
        height: auto;
    display: block;
    width: 100%;
    height: 550px;
}
.image-container {
    position: relative;
    display: inline-block;
    background-color: #008374;
    height: 550px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Adjust the color to your preference */
    opacity: 0.5; /* Adjust the opacity to your preference */
  }
  .text-body{
    position: absolute;
    top: 25%;
  }
  .text-body p{
    margin: 0 32px;
  }
  .botton{
    align-items: center;
    justify-content: center;
  }
  .video-btn{
    background-color: #008374;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
  }
  .services-color{
    background-color: #F6F6F6;
  }
  .span-hu{
    border-bottom: 4px solid #008374;
  }
  .btn-img{
    align-items: center;
    justify-content: center;
  }
  .btn-img button{
    border: 3px solid #fff;
    width: 200px;
    height: 50px;
  }
  .btn-img button:hover{
    background-color: #008374;
    
  }
  .font{
    font-size: 55px;
    z-index: 10;
  }
  .read{
    color: #008374;
  }
  .read-arrow{
    color: #008374;
  }
  .card-4{
    border: none;
  }
  .card-head{
    width: 212px;
  }
  .card-4:hover .card-head{
    border-bottom: 3px solid #008374;
  }
  .ball{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.26);
    display: inline-block;
    transform: translate(-30px , 10px);
    transition: background-color .5s;
  }
  .card-4:hover .ball{
    background-color: #008374a2;
  }
 .card{
    cursor: pointer;
 }
 .mm{
    border-bottom: 3px solid #008374;
 }
 .carousel,.carousel-inner{
    height: 300px;
 }
 .carousel-indicators button.active {
    background-color: black; 
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
@media screen and (min-width:1200px) and (max-width:2500px) {
    .nav-link:hover{
    color: #fff;
    border-bottom: 2px solid #F85A40;
}
.nav-link:focus{
    border-bottom: 2px solid #F85A40;
    color: #fff;
    
}
.hero-row{
    top: 150px;
}
}